body {
    font-family: sans-serif;
}

header {
background-color: lightgrey;
font-size: x-large;
display: flex;
align-items: center;
text-align: center;
justify-content: space-evenly;
border-radius: 100px;
border: 1px solid rgb(255, 0, 0);
}


header img {
    position: relative;
    right: 50px;
}
body {
    font-size: x-large;
}

footer {
    background-color: lightgrey;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.cont__right {
    float: right;
}


.tel {
    position: relative;
    bottom: 40px;
}

.footer-imgs {
    position: relative;
    display: flex;
    flex-direction: column;
    bottom: 40px;
}



.foot__logo {
    position: absolute;
    left: 77%;
}
